# Mac stuff:
.DS_Store

# Unmodified emacs backup files
*~

# Jekyll site folder
_site

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache

# CI failures - is this a fix?
Cargo.lock

# secrets
mcaux-rp235x/access_points.*

# probe-rs artifacts
mcaux-rp235x/logs

# This is a symlink selecting a memory map. I don't want it in SCM.
mcaux-rp235x/memory.x



# Added by cargo

/target
